body
{
background-color: rgba(107, 92, 171, 0.897)

}

h1 
{
    color:cornflowerblue
}
p
{ 
color:black
}
hr
{
    color:blue
}
h2
{
color:cornflowerblue
}
h3
{
color:cornflowerblue
}
h4
{
color:cornflowerblue

}
h5
{
color:cornflowerblue

}